
*.log

main\.aux

main\.bbl

main\.bcf

main\.blg

main\.ptc

main\.run\.xml

main\.synctex\.gz

main\.toc

main\.ind

main\.ilg


main.xref

main-1.svg

main-2.svg

main-3.svg

main-4.svg

main-5.svg

main.4ct

main.4tc

main.css

main.dvi

main.html

main.idv

main.idx

main.lg

main.out.ps

main.tmp
